<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="list-group">
				<li class="list-group-item active">Wallet1 123213213</li>
				<li class="list-group-item">Wallet2 123213213</li>
				<li class="list-group-item">Wallet3 123213213</li>
				<li class="list-group-item">Wallet4 123213213</li>
				<li class="list-group-item divider" role="separator"></li>
				<li class="list-group-item">All transactions</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-2">Balance:</div>
				<div class="col-md-2">1000 <a href="#">CUR</a></div>
				<div class="col-md-6"></div>
				<div class="col-md-2">
					<p><a href="#">New transaction</a></p>
					<p><a href="#">New vote</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>
									<span class="glyphicon glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
									<span class="glyphicon glyphicon-triangle-top" *ngIf="false" aria-hidden="true"></span>
									From
								</th>
								<th>
									<span class="glyphicon glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
									<span class="glyphicon glyphicon-triangle-top" *ngIf="false" aria-hidden="true"></span>
									To
								</th>
								<th>
									<span class="glyphicon glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
									<span class="glyphicon glyphicon-triangle-top" *ngIf="false" aria-hidden="true"></span>
									Currency
								</th>
								<th>
									<span class="glyphicon glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
									<span class="glyphicon glyphicon-triangle-top" *ngIf="false" aria-hidden="true"></span>
									Date
								</th>
								<th>
									<span class="glyphicon glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
									<span class="glyphicon glyphicon-triangle-top" *ngIf="false" aria-hidden="true"></span>
									Amount
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>123123213wd</td>
								<td>2352352f23f</td>
								<td>CUR</td>
								<td>03.09.2017 19.45</td>
								<td>19.45</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
