<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="list-group">
				<li class="list-group-item active">General</li>
				<li class="list-group-item">Notifications</li>
				<li class="list-group-item">Security</li>
				<li class="list-group-item divider" role="separator"></li>
				<li class="list-group-item"> </li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="row">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="accountName" class="col-md-2 control-label">Account name</label>
						<div class="col-md-3">
							<input type="text" class="form-control" id="accountName" placeholder="account name">
						</div>
						<div class="col-md-7"></div>
					</div>
					<div class="form-group">
						<label for="accountEmail" class="col-md-2 control-label">Password</label>
						<div class="col-md-3">
							<input type="email" class="form-control" id="accountEmail" placeholder="account email">
						</div>
						<div class="col-md-2">
							<div class="checkbox">
								<label>
									<input type="checkbox"> Verified
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="accountOccupation" class="col-md-2 control-label">Occupation</label>
						<label for="accountOccupation" class="col-md-3 control-label text-left">Country</label>
						<div class="col-md-3">
							<input type="text" class="form-control" id="accountOccupation" placeholder="account occupation">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-2"></div>
						<label for="accountRegion" class="col-md-3 control-label text-left">Region</label>
						<div class="col-md-3">
							<input type="text" class="form-control" id="accountRegion" placeholder="account region">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-2"></div>
						<label for="accountAddress" class="col-md-3 control-label text-left">Address</label>
						<div class="col-md-3">
							<input type="text" class="form-control" id="accountAddress" placeholder="account address">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
